%% -*- mode: erlang -*-
{deps, [
    {emqx_plugin_helper, {git, "https://github.com/emqx/emqx-plugin-helper.git", {tag, "v5.9.1"}}},
    {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.14.4"}}},
    {mcp_mqtt_erl, {git, "https://github.com/emqx/mcp-mqtt-erl.git", {branch, "main"}}}
]}.

{plugins, [
    {emqx_plugin_helper, {git, "https://github.com/emqx/emqx-plugin-helper.git", {tag, "v5.9.0"}}}
]}.

{project_plugins, [{erlfmt, "1.6.0"}]}.

{erl_opts, [warnings_as_errors, debug_info, {d, plugin_rel_vsn, "0.0.5"}]}.

%% this is the release version, different from app vsn in .app file
{relx, [
    {release, {emqx_mcp_tools, "0.0.5"}, [
        emqx_mcp_tools,
        emqx_plugin_helper,
        mcp_mqtt_erl
    ]},
    {dev_mode, false},
    {include_erts, false},
    {include_src, false}
]}.

%% Additional info of the plugin
{emqx_plugrel, [
    {authors, ["Shawn"]},
    {builder, [
        {name, "Shawn"},
        {contact, "506895667@qq.com"},
        {website, "https://emqx.com"}
    ]},
    {repo, "https://github.com/emqx/emqx-plugin-mcp-tools"},
    {functionality, ["MCP"]},
    {compatibility, [{emqx, "~> 5.9"}]},
    {description, "An EMQX Plugin that provides some useful tools via MCP over MQTT."}
]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling]},
    {exclude_mods, []},
    {plt_location, "."},
    {plt_prefix, "emqx_dialyzer"},
    {plt_apps, all_apps},
    {statistics, true}
]}.
